<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'CEOrEE',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="ce-or-ee">
    <SlpContainer>
      <SlpRow class="slp-justify-content-center slp-my-64">
        <div class="enterprise-edition ce-or-ee-card slp-p-24">
          <div
            v-if="data.enterprise.recommended"
            class="ce-or-ee-card__recommended slp-mb-16"
          >
            RECOMMENDED
          </div>
          <SlpTypography class="slp-mb-16 slp-mt-8" tag="h3" variant="heading3">
            {{ data.enterprise.title }}
          </SlpTypography>
          <ul class="ce-or-ee-card__features slp-mb-16">
            <li
              v-for="feature in data.enterprise.features"
              :key="feature.title"
              class="ce-or-ee-card__feature slp-mb-8"
            >
              <div class="ce-or-ee-card__feature-content">
                <SlpIcon
                  v-if="feature.icon === 'checkmark'"
                  name="check-circle-filled"
                  variant="product"
                  class="ce-or-ee-card__icon slp-mr-8"
                  alt="Check icon"
                  size="xs"
                  slp-color="success-200"
                />
                <SlpIcon
                  v-if="feature.icon === 'red x'"
                  name="clear"
                  variant="product"
                  class="ce-or-ee-card__icon slp-mr-8"
                  alt="Check icon"
                  size="xs"
                  slp-color="alert-200"
                />
                <div>
                  {{ feature.title
                  }}<span v-if="feature.url"
                    ><a
                      :href="feature.url"
                      :aria-label="feature.url_data_ga_name"
                      :data-ga-name="feature.url_data_ga_name"
                      :data-ga-location="feature.url_data_ga_name"
                      >{{ feature.title_text }}</a
                    ></span
                  >
                </div>
              </div>
            </li>
          </ul>
          <SlpButton :href="data.enterprise.url" class="slp-mb-16"
            >{{ data.enterprise.url_text }}
          </SlpButton>
          <div class="ce-or-ee-card__disclaimer slp-text-xs">
            <span>
              {{ data.enterprise.disclaimer1 }}
              <a :href="data.enterprise.disclaimer1_url">{{
                data.enterprise.disclaimer1_text
              }}</a>
              {{ data.enterprise.disclaimer1_cont }}
            </span>
          </div>
          <div class="ce-or-ee-card__disclaimer slp-text-xs">
            {{ data.enterprise.disclaimer2 }}
          </div>
        </div>

        <div class="community-edition ce-or-ee-card slp-p-24">
          <SlpTypography class="slp-mb-16" tag="h3" variant="heading3">
            {{ data.community.title }}
          </SlpTypography>
          <ul class="ce-or-ee-card__features slp-mb-16">
            <li
              v-for="feature in data.community.features"
              :key="feature.title"
              class="ce-or-ee-card__feature slp-mb-8"
            >
              <div class="ce-or-ee-card__feature-content">
                <SlpIcon
                  v-if="feature.icon === 'checkmark'"
                  name="check-circle-filled"
                  variant="product"
                  class="ce-or-ee-card__icon slp-mr-8"
                  alt="Check icon"
                  size="xs"
                  slp-color="success-200"
                />
                <SlpIcon
                  v-if="feature.icon === 'red x'"
                  name="clear"
                  variant="product"
                  class="ce-or-ee-card__icon slp-mr-8"
                  alt="Check icon"
                  size="xs"
                  slp-color="alert-200"
                />
                {{ feature.title }}
              </div>
            </li>
          </ul>
          <SlpButton
            :href="data.community.url"
            variant="secondary"
            class="slp-mb-16"
            >{{ data.community.url_text }}
          </SlpButton>
          <div
            class="slp-text-xs"
            v-html="$md.render(data.community.disclaimer1)"
          />
        </div>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.ce-or-ee {
  background: $color-surface-100;
}
.ce-or-ee-card {
  text-align: center;
  background: $color-surface-50;
  border-radius: 12px;

  .slp-btn {
    width: 100%;
    justify-content: center;
  }

  &.enterprise-edition {
    border: 1px solid $color-primary-200;
    max-width: 360px;
    box-shadow: 0px 2px 50px rgba($color-surface-700, 0.08);
  }

  &.community-edition {
    border: 1px solid $color-surface-700;
    max-width: 390px;
    max-height: 372px;
    margin-top: $spacing-48;
    border-radius: 0 12px 12px 0;
    border-left: 0;
  }

  &__recommended {
    color: $color-text-50;
    background: $color-accent-500;
    padding: $spacing-8;
    max-width: 160px;
    margin: 0 auto;
    border-radius: 50px;
  }

  &__features {
    text-align: left;
    font-size: 16px;
  }

  &__feature svg {
    vertical-align: middle;
  }

  &__feature-content {
    display: flex;
    flex-direction: row;

    svg {
      margin-top: $spacing-4;
      min-width: 16px;
    }
  }
}

@media (max-width: 825px) {
  // change this value to the point in which the cards break
  .ce-or-ee-card {
    &.community-edition {
      border-left: 1px solid $color-surface-700;
      border-radius: 12px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .ce-or-ee {
    margin-top: $spacing-32;
  }

  .ce-or-ee-card {
    &.community-edition {
      max-width: 360px;
      max-height: unset;
      margin-top: $spacing-16;
    }
  }

  h2 {
    font-size: 24px;
  }
}
</style>
