<script lang="ts">
import Vue from 'vue';
import SlpPlayIcon from './play-icon.vue';

export default Vue.extend({
  name: 'SolutionsCarouselVideoCard',
  components: {
    SlpPlayIcon,
  },
  props: {
    video: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      isHovered: false,
    };
  },
  methods: {
    onCardClick() {
      this.$emit('click');
    },
  },
});
</script>

<template>
  <article
    class="container"
    @click="onCardClick"
    @mouseover="isHovered = true"
    @mouseleave="isHovered = false"
  >
    <div class="flex">
      <SlpIcon variant="marketing" size="sm" name="video" />
      <SlpTypography tag="p" variant="all-caps" class="tag">{{
        video.carousel_identifier[0]
      }}</SlpTypography>
    </div>

    <div class="image__container">
      <img :src="video.photourl" :alt="video.title" />
      <div class="image__container--play">
        <SlpPlayIcon :is-active="isHovered" />
      </div>
    </div>
    <div class="text__container">
      <SlpTypography
        tag="h3"
        variant="heading4"
        class="title slp-text-align-left"
        >{{ video.title }}</SlpTypography
      >
    </div>
  </article>
</template>

<style lang="scss" scoped>
.container {
  padding: $spacing-32 $spacing-16;
  border-radius: $spacing-4;
  max-width: 350px;
  min-height: 350px;
  margin: 0 $spacing-16;
  color: $color-text-300;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #eee7fd;
    border-radius: 0 0 100px 0;
  }
}

.image__container {
  position: relative;

  &--play {
    position: absolute;
    top: 40%;
    right: 45%;
  }
  img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $color-surface-200;
  }
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-24;

  .slp-icon {
    width: 16px;
    height: 20px;
    margin-right: $spacing-8;
  }
}
.tag {
  text-transform: uppercase;
}

.text__container {
  white-space: normal;
  margin: $spacing-24 0;

  .title {
    font-size: 20px;
  }
}
</style>
